$terminal-green: rgb(138, 234, 146);
$terminal-black: rgb(51, 32, 42);

$dark-bg: black;
$dark-border: darkgray;
$dark-text: white;

$light-bg: white;
$light-text: black;
$light-border: black;

$mork-bg: gold;
$mork-text: black;
$mork-border: black;

$cyber-border: cyan;
$cyber-text: rgb(255,0,128);
$cyber-bg: rgb(51, 32, 42);

$halt-color: rgb(215, 206, 177);
$halt-bg: black;
$halt-detail: goldenrod;