<div
  [ngClass]="getThemeObject()"
  class='main-border'>
  <div
    class='theme-chooser'
  >
    <fa-icon (click)='toggleShowThemes()' [icon]="faIcon"></fa-icon>
  </div>
  <div
    [@toggleDropdown]
    class='dropdown'
    *ngIf='showThemes'
  >
    <div class='dropdown-grid'>
      <div
        *ngFor='let theme of themes | keyvalue'
        (click)='switchTheme(theme.key)'
        >
        {{theme.key}}
      </div>
    </div>
  </div>
  <div
    class='inner-content'
    [ngClass]="getThemeObject()"
    >
      <header>
        <h1>
            HELLO WORLD
        </h1>
      </header>
      <!-- <fa-icon [icon]="faCoffee"></fa-icon> -->

  </div>
</div>